body, html {
  height: 400px;
  background: rgba(247,234,212,0.95);
  background: linear-gradient(135deg, rgba(247,234,212,0.95) 0%, rgba(232,189,115,0.96) 25%, rgba(223,155,38,0.96) 53%, rgba(242,208,114,0.97) 82%, rgba(241,218,177,0.97) 100%);

  background-position: top;  
  font-family: Calibri,Tahoma, Arial;	
	font-style: italic;
}
.bg {
  background-image: url('../src/Img/srodkowa_czesc_zawartosci.gif');
  background-repeat: repeat;
}
.up{
  background-image: url('../src/Img/gorna_czesc_zawartosci.gif');
  height: 17px;
  width: 1004px;
}
.foot{
  background-image: url('../src/Img/dolna_czesc_zawartosci.gif');
  height: 31px;
  width: 1004px;
}
.down{
  background-image: url('../src/Img/dol.gif');
  height: 10px;
  width: 1004px;
}
#copyright{
  position: relative;
  margin: auto;
  width: 1004px;
  text-align: center;
	font-size: 10px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-bottom: 10px;
	color: white;
}
.shadow :hover{
  box-shadow: 10px 10px 27px 10px rgba(48,50,50,1) !important;
}
.off{
  border-radius: 10px;
}
.grid-container {
  display: grid;
  width: 60%;
  grid-template-columns: 150px auto;
  text-align: left;
}

.input-transfer-data {
  width: 20em;
  max-width: 20em;
  min-width: 20em;
  border-radius: 15px !important;
}

textarea.input-transfer-data {
  padding: 5px;
}